/* Colours */
$button-zero: #FF4040;
$button-one: #DB37A2;
$button-two: #4A51CF;
$button-three: #38DF38;
/* Dimensions */
$button-height: 80%; // these are relative to the wrapper
$button-width: 80%;
$wrapper-height: 100px;
$wrapper-width: 300px;
/* Helper functions (yes - SASS FUNCTIONS! :D) */
@function darkenCustom($color) {
     @return darken($color, 15%);
}

#navbar {
  [class*="col-"] {
    height: 80px;
    background-color: #bbb;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.buttons {

    .button-wrapper {
      height: $wrapper-height;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    button {
        height: $button-height;
        width: $button-width;
        background-color: transparent;
        outline: none;
        border: none;
        border-radius: 150px;

        &#button0 {
            background-color: $button-zero;

            &.active {
                background-color: darkenCustom($button-zero);
            }
        }

        &#button1 {
            background-color: $button-one;

            &.active {
                background-color: darkenCustom($button-one);
            }
        }

        &#button2 {
            background-color: $button-two;

            &.active {
                background-color: darkenCustom($button-two);
            }
        }

        &#button3 {
            background-color: $button-three;

            &.active {
                background-color: darkenCustom($button-three);
            }
        }
    }
}
