/* Imports */
@import "https://fonts.googleapis.com/css?family=Alfa+Slab+One";
/* Colours */
/* Dimensions */
/* Helper functions (yes - SASS FUNCTIONS! :D) */
/* line 25, ../sass/styles.scss */
html, body {
  background-color: #F4F4F4;
  font-family: "Alfa Slab One", sans-serif;
}

/* line 31, ../sass/styles.scss */
#navbar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
}
/* line 38, ../sass/styles.scss */
#navbar h2 {
  font-size: 60px;
}
/* line 43, ../sass/styles.scss */
#navbar [class*="col-"] {
  height: 80px;
  background-color: #C5C5C5;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 52, ../sass/styles.scss */
.button-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: none;
}
/* line 59, ../sass/styles.scss */
.button-container .buttons {
  width: 100%;
}
/* line 63, ../sass/styles.scss */
.button-container .buttons .button-wrapper {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 71, ../sass/styles.scss */
.button-container .buttons button {
  height: 75%;
  width: 75%;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 150px;
  transition: transform 0.2s ease-in-out;
}
/* line 81, ../sass/styles.scss */
.button-container .buttons button.active {
  transform: scale(1.2);
}
/* line 86, ../sass/styles.scss */
.button-container .buttons button#button0 {
  background-color: #a30000;
}
/* line 89, ../sass/styles.scss */
.button-container .buttons button#button0.active {
  background-color: #ff3d3d;
}
/* line 94, ../sass/styles.scss */
.button-container .buttons button#button1 {
  background-color: #a88c00;
}
/* line 97, ../sass/styles.scss */
.button-container .buttons button#button1.active {
  background-color: #ffe042;
}
/* line 102, ../sass/styles.scss */
.button-container .buttons button#button2 {
  background-color: #242989;
}
/* line 105, ../sass/styles.scss */
.button-container .buttons button#button2.active {
  background-color: #6d73d9;
}
/* line 110, ../sass/styles.scss */
.button-container .buttons button#button3 {
  background-color: #137213;
}
/* line 113, ../sass/styles.scss */
.button-container .buttons button#button3.active {
  background-color: #3fdf3f;
}

/* line 122, ../sass/styles.scss */
.controls {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 75px;
  background-color: #C5C5C5;
}
/* line 131, ../sass/styles.scss */
.controls button {
  background-color: #929292;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  width: 80px;
}
/* line 139, ../sass/styles.scss */
.controls button:focus {
  outline: none;
}
/* line 143, ../sass/styles.scss */
.controls button#current-length {
  margin: 8px auto 0px;
  display: block;
}
/* line 148, ../sass/styles.scss */
.controls button#reset {
  height: 55px;
}
/* line 151, ../sass/styles.scss */
.controls button#reset:hover {
  background-color: #FF8D2B;
}
/* line 157, ../sass/styles.scss */
.controls #notifications {
  font-size: 18px;
}
/* line 161, ../sass/styles.scss */
.controls [class*="col-"] {
  text-align: center;
  margin: 10px 0px;
  height: 100%;
}

/* On-off switch - taken from proto.io */
/* line 169, ../sass/styles.scss */
.onoffswitch {
  position: relative;
  width: 55px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin: 10px auto 0px;
}

/* line 174, ../sass/styles.scss */
.onoffswitch-checkbox {
  display: none;
}

/* line 177, ../sass/styles.scss */
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 20px;
  padding: 0;
  line-height: 20px;
  border: 0px solid #FFFFFF;
  border-radius: 30px;
  background-color: #9E9E9E;
}

/* line 183, ../sass/styles.scss */
.onoffswitch-label:before {
  content: "";
  display: block;
  width: 30px;
  margin: -5px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 31px;
  border-radius: 30px;
  box-shadow: 0 6px 12px 0px #757575;
}

/* line 192, ../sass/styles.scss */
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #42A5F5;
}

/* line 195, ../sass/styles.scss */
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #42A5F5;
}

/* line 198, ../sass/styles.scss */
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

/* line 201, ../sass/styles.scss */
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
  background-color: #2196F3;
  box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}
